h1{ 
text-align: center; 
color: black;
} 
h4{ 
text-align: center;
} 
body{ 
text-align: center;
}  
p1{ 
color: red; 
float: left; 
font-size: 100px;
} 
p2{ 
color: cyan; 
float: right; 
font-size: 100px;
}
 
@-webkit-keyframes blackWhite {  
  0% { background-color: red; }
  50% { background-color: red; }
  51% { background-color: cyan; }
  100% { background-color: cyan; }
}

.blinkdiv {
    height: 100px;
    background-color: black;
    -webkit-animation-name: blackWhite;  
    -webkit-animation-iteration-count: infinite;  
    -webkit-animation-duration: .5s; 
}  